sudo: false
language: python
python:
- '2.7'
env:
  global:
  - secure: JCvXMwC8FvRyW9VFsVv/v56GDHSjTDhaNUgM3DGQLz0vynoKC2GsH6ifOGFLoa3VwbPXZW+99OXovuzfYg5VGlXkpSirmyOWMeO4UnT6LMTrhd4foYQSPeaZ0ErDZGbXD9uUtKJUsFO3lPLih0Lmnvapo1gXrRIRVAdud3rvSyo=
  - GIT_CONFIG_PARAMETERS="'remote.github.url=https://${TOKEN}@github.com/kontron/robotframework-ipmilibrary.git'"
install: pip install -e .
script: nosetests
after_script:
- PYTHONPATH=src python -m robot.libdoc IpmiLibrary /tmp/IpmiLibrary.html
- git remote set-branches --add origin gh-pages
- git fetch origin
- git checkout gh-pages
- mv /tmp/IpmiLibrary.html .
- git add IpmiLibrary.html
- git config --global user.email "travis@travis-ci.org"
- git config --global user.name "Travis CI"
- git commit -m "autogen libdoc ($(date -R))"
- git push github gh-pages 2>&1 | grep -v http
deploy:
  provider: pypi
  user: hthiery
  password:
    secure: RqEkIem6LLaByBO/e2Xh09swx9Fzqjce78kJ/5WUhvg10ohszT5gW9ykcIQnof42RkUsdf2UuUfOcj/ME58ydVpGYdyiXjamOi62ZYKanAznrPkEC0bw+6lNJUa01tKZ25H9L16VMGZvmCOjpnhZP40HLCpYm7hnJiVa0JVnkyU=
  on:
    tags: true
    distributions: release
